BACKEND_ENV=production
BACKEND_AUTO_SEED_DEMO=true
BACKEND_DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
BACKEND_FRONTEND_URL=https://TU-FRONTEND.vercel.app
BACKEND_JWT_SECRET=change-me-with-a-long-random-secret
FRONTEND_VITE_API_URL=https://TU-BACKEND.onrender.com
FRONTEND_VITE_MAPBOX_TOKEN=
FRONTEND_VITE_MAP_CENTER_LAT=-32.4524
FRONTEND_VITE_MAP_CENTER_LNG=-71.2311
FRONTEND_VITE_MAP_ZOOM=13
